## Task 1: Data Cleaning and Preprocessing

### Objective: Clean and prepare a raw dataset (with nulls, duplicates, inconsistent formats).

### Dataset: Netflix Movies and TV Shows

#### Step 1: Import Libraries

In [23]:
import pandas as pd  #

##### Step 2: Load the dataset

In [24]:
df = pd.read_csv(r"C:\DSAI study materials\Job Hunt\Elevate Labs\04-08-25\netflix_titles.csv")

In [25]:
df.shape  # Display the shape of the DataFrame

(8807, 12)

In [26]:
df.head()  # Display the first few rows of the DataFrame

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### Step 3: Initial Inspection

In [27]:
# Basic Information
df.info()  # Get a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [28]:
# Unique values per column
unique_counts = df.nunique()
print(unique_counts)

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

In [29]:
# summary statistics
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [30]:
# Check for duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [31]:
df.drop_duplicates(inplace=True)

#### Step 4: Clean the data

In [32]:
# Handle missing values
df.isnull().sum()  # Check for missing values in each column

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [33]:
# Fill missing values
df['director'] = df['director'].fillna('Unknown') # Fill missing director names with 'Unknown'
df['cast'] = df['cast'].fillna('Not Available') # Fill missing cast with 'Not Available'
df['country'] = df['country'].fillna(df['country'].mode()[0]) # Fill missing country with the most common country
df['rating'] = df['rating'].fillna('Not Rated') # Fill missing ratings with 'Not Rated'

# Drop rows with missing date_added or duration
df = df.dropna(subset=['date_added', 'duration']) # Drop rows where 'date_added' or 'duration' is missing

In [34]:
df.isnull().sum()  # Check again for missing values after cleaning

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

#### Step 5: Standardize and format columns

In [35]:
# Rename columns for consistency
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_') # Standardize column names to lowercase and replace spaces with underscores

In [36]:
# Standardize text values
df['type'] = df['type'].str.strip().str.title() # Standardize 'type' to title case
df['country'] = df['country'].str.strip().str.title()# Standardize 'country' to title case
df['rating'] = df['rating'].str.strip().str.upper()# Standardize 'rating' to uppercase
df['listed_in'] = df['listed_in'].str.strip()# Standardize 'listed_in' by stripping whitespace
df['director'] = df['director'].str.strip()# Standardize 'director' by stripping whitespace
df['cast'] = df['cast'].str.strip()# Standardize 'cast' by stripping whitespace
df['description'] = df['description'].str.strip()# Standardize 'description' by stripping whitespace

In [37]:
# Convert to datetime format
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce') # Convert 'date_added' to datetime, coerce errors to NaT

#  Create a formatted string column
df['date_added_ddmmyyyy'] = df['date_added'].dt.strftime('%d-%m-%Y') # Create a new column with the formatted date

In [38]:
# Check and fix data types
# Ensure release year is int
df['release_year'] = df['release_year'].astype(int)

# Ensure duration is string
df['duration'] = df['duration'].astype(str)

# Confirm data types
df.dtypes

show_id                        object
type                           object
title                          object
director                       object
cast                           object
country                        object
date_added             datetime64[ns]
release_year                    int32
rating                         object
duration                       object
listed_in                      object
description                    object
date_added_ddmmyyyy            object
dtype: object

In [39]:
# Extract duration in a structured way
# Separate number and time unit
# Extract numeric duration (e.g., 90, 2)
df['duration_num'] = df['duration'].str.extract('(\d+)').astype(float)

# Extract type of duration (e.g., min, seasons)
df['duration_type'] = df['duration'].str.extract('([a-zA-Z]+)')[0].str.lower()

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\dj005\AppData\Local\Temp\ipykernel_23092\2811776040.py:4: SyntaxWarning: invalid escape sequence '\d'
  df['duration_num'] = df['duration'].str.extract('(\d+)').astype(float)

In [40]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv(r"C:\DSAI study materials\Job Hunt\Elevate Labs\04-08-25\netflix_titles_cleaned.csv", index=False)  # Save cleaned data
print("Cleaned data saved to 'netflix_titles_cleaned.csv'")

Cleaned data saved to 'netflix_titles_cleaned.csv'

## Conclusion
### The Netflix dataset has been thoroughly cleaned and preprocessed. Missing values were handled, column names and text fields standardized, and relevant features like duration_num and duration_type were extracted. No duplicates were found, and all data types were corrected. The dataset is now well-structured and ready for analysis or machine learning tasks.

# I